.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: var(--colorgrey);
}
.container:hover {
  background-color: var(--colorprimary);
  color: var(--colorwhite);
  cursor: pointer;
}