.inputContainer {
  display: flex;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--coloraccent);
  width: 40%;
  align-items: center;
  overflow: hidden;
  
}
.inputelement {
  border: none;
  outline: none;
  width: 100%;
  padding: .5rem;
  height: 100%;

}
.actions {
  border: none ;
  background: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.5rem;
}
.actions:hover {
  background-color: var(--colorgrey);
}
.actions:active {
  background-color: #ffffff;
}
@media (max-width: 800) {
  .inputContainer {
    width: 100%;

  }

}
@media (max-width: 600px) {
  .inputelement {
    display: none;
  }
.inputContainer{
  width: 2rem;
}
}