@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&family=Tektur&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --colorgreen:#6B803D;
  --colorlitebrown: #8A6F42;
  --colorbrown: #733D42;
  --colorpurple: #53428A;
  --colorskyblue:#397475;
  --colorfont:#183873;
  --colorprimary: #e2f3f8;
  --colorsecondary: #171719;
  --coloraccent: #5d5d5b;
  --colortext: #030303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

