.container {
  display: flex;
  flex-direction: row;
  height: 20rem;
  justify-content: space-between;
  padding: 5rem;
}
.information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 15rem;
}